    @import url("https://use.typekit.net/pcv4xjp.css");

    body {
        background-color: #F2F2F2;
        font-family: "recursive-sans-linear-static", sans-serif;
        max-width: 400px;
        margin: 0 auto;
    }